In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("train_2kmZucJ.csv")

In [3]:
df.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [4]:
df['tweet']=df['tweet'].str.lower()

In [5]:
df.head()

   id  label                                              tweet
0   1      0  #fingerprint #pregnancy test https://goo.gl/h1...
1   2      0  finally a transparant silicon case ^^ thanks t...
2   3      0  we love this! would you go? #talk #makememorie...
3   4      0  i'm wired i know i'm george i was made that wa...
4   5      1  what amazing service! apple won't even talk to...

In [6]:
import re

def clean_text(text):
    #Remove URLs
    text= re.sub(r"http\S+|www\S+|https\S+","",text,flags=re.MULTILINE) 
    #Remove User mentions(@)
    text=re.sub(r"@\w+","",text)
    #Remove hashtags(#)
    text=re.sub(r"#\w+","",text)
    #Remove extra white space
    text=re.sub(r"\s+","",text).strip()

    return text

In [7]:
df['tweet']=df['tweet'].apply(clean_text)

In [8]:
df.head()

   id  label                                              tweet
0   1      0                                               test
1   2      0  finallyatransparantsiliconcase^^thankstomyuncl...
2   3      0                          welovethis!wouldyougo?...
3   4      0            i'mwirediknowi'mgeorgeiwasmadethatway;)
4   5      1  whatamazingservice!applewon'teventalktomeabout...

In [9]:
def special_character_remover(text):
    return re.sub(r"[^A-Za-z0-9\s!?]","",text)

In [11]:
import contractions
df['tweet']=df['tweet'].apply(contractions.fix)

In [10]:
df['tweet']=df['tweet'].apply(special_character_remover)

In [12]:
df.head()

   id  label                                              tweet
0   1      0                                               test
1   2      0      finallyatransparantsiliconcasethankstomyuncle
2   3      0                             welovethis!wouldyougo?
3   4      0                imwirediknowimgeorgeiwasmadethatway
4   5      1  whatamazingservice!applewonteventalktomeabouta...

In [ ]:
import spacy
nlp=spacy.load("en_core_web_sm")

def tokenize(text):
    do